# Get the Gemini API Key => https://aistudio.google.com/app/apikey 
NEXT_PUBLIC_API_KEY=<Gemini API Key>

# Get the postgres data => https://vercel.com/marketplace/prisma
# use your own local postgres database url and shadow database url and not the one prisma generates when you run npx prisma dev
PRISMA_DATABASE_URL=
POSTGRES_URL=

REDIRECT_URL=http://localhost:3000
SECRET_KEY=<Any random string can be used here>

# How to get the spotify Client and Secret Key is in the readme
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=

# How to get the genius Client and Secret Key is in the readme
NEXT_PUBLIC_GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Go to https://www.last.fm/api
LASTFM_API_KEY=