# Get the Gemini API Key => https://aistudio.google.com/app/apikey 
NEXT_PUBLIC_API_KEY=<Gemini API Key>

# Get the postgres data => https://vercel.com/marketplace/prisma
DATABASE_URL=
PRISMA_DATABASE_URL=
POSTGRES_URL=

REDIRECT_URL=http://localhost:3000
SECRET_KEY=<Any random string can be used here>

# How to get the spotify Client and Secret Key is in the readme
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=